<header class="p-3 col-12 bg-dark">
  <div class="container">
    <nav class="d-flex align-items-center justify-content-between">
      <ul class="nav w-100 col-12 col-lg-auto me-lg-auto mb-2 justify-content-around mb-md-0">
        <li>
          <%= link_to 'Home', root_path, class: "nav-link px-2 text-white"%>
        </li>
        <li>
          <%= link_to 'Questions', root_path, class: "nav-link px-2 text-white"%>
        </li>
        <li>
          <%= link_to 'New Questions', root_path, class: "nav-link px-2 text-white"%>
        </li>
      </ul>
    </nav>
  </div>
</header>