<div class="d-flex flex-column justify-content-start align-items-center">
   <h3 id="flash" class="mb-md-5"> </h3>
  <h1>Your Shopping Cart</h1>
  <%= render 'shared/cart_item', cart: @cart %>

  <%= link_to "Continue Shopping", products_path, class: "btn btn-primary mb-3" %>
  <%= link_to "Checkout", "#", class: "btn btn-success" %>
</div>
