<div id="flash" class="mb-5">
</div>
<div id="Create_Category_and_Product" class="mb-5">
  <%= render 'shared/form_category_product', category: @category %>
</div>
<div id="Create_Product_in_Category">
  <%= render 'shared/form_product', product: @product%>
</div>

