<div>
  <ul class="row">
    <li class="mb-3 custom-list-style" id="Update_Product_in_Category">
      <%= render 'shared/product', product: @product, buttonupdate: @buttonupdate%>
    </li>
  </ul>
</div>
